{
  "apiBaseUrl": "https://api.github.com",
  "username": "",
  "password": "",
  "groupByRepo": false,
  "repos": [
    "adaptris/interlok",
    "adaptris/interlok-activemq",
    "adaptris/interlok-amqp",
    "adaptris/interlok-apache-http",
    "adaptris/interlok-api",
    "adaptris/interlok-aws",
    "adaptris/interlok-cache",
    "adaptris/interlok-cassandra",
    "adaptris/interlok-config-conditional",
    "adaptris/interlok-container",
    "adaptris/interlok-csv",
    "adaptris/interlok-csv-json",
    "adaptris/interlok-cxf",
    "adaptris/interlok-elasticsearch",
    "adaptris/interlok-es-rest",
    "adaptris/interlok-excel",
    "adaptris/interlok-es5",
    "adaptris/interlok-expressions",
    "adaptris/interlok-filesystem",
    "adaptris/interlok-gcloud-pubsub",
    "adaptris/interlok-hpcc",
    "adaptris/interlok-jclouds",
    "adaptris/interlok-jq",
    "adaptris/interlok-jruby",
    "adaptris/interlok-json",
    "adaptris/interlok-legacyhttp",
    "adaptris/interlok-kafka",
    "adaptris/interlok-mongodb",
    "adaptris/interlok-mqtt",
    "adaptris/interlok-oauth",
    "adaptris/interlok-pdf",
    "adaptris/interlok-profiler",
    "adaptris/interlok-service-tester",
    "adaptris/interlok-shell",
    "adaptris/interlok-socket",
    "adaptris/interlok-sshtunnel",
    "adaptris/interlok-stackify",
    "adaptris/interlok-stax",
    "adaptris/interlok-variable-substitution",
    "adaptris/interlok-vcs-git",
    "adaptris/interlok-vertx",
    "adaptris/interlok-drools",
    "adaptris/interlok-vcs-command-line",
    "adaptris/interlok-xinclude"
  ],
  "comments": {
    "positive": [
      ":+1:",
      ":thumbsup:"
    ],
    "negative": [
      ":-1:",
      ":thumbsdown:"
    ]
  },
  "mergeRule": {
    "positive": 2,
    "negative": 0,
    "neverRegexp": "DO NOT MERGE"
  }
}
